


input {
   width: 100%;
}
.kg-button {

  min-width: 8vw;

}
.button {

  min-width: 1vw;
}
.icon {
     display: flex;
     justify-content: center;
     align-items: center;

  
}
.kg-row {

   margin: 2vw 2vw; 
  
}